\:host
  display: flex
  flex-direction: row
  height: 48px
  padding: 4px 16px
  box-sizing: border-box

  align-items: center

  cursor: pointer
  user-select: none

  &:hover
    border-top: 1px solid #d0d0d0
    border-bottom: 1px solid #d0d0d0

  .label
    flex: 1

  .color
    margin: 4px
    width: 16px
    height: 16px
