\:host
  display: flex
  flex-direction: row
  height: 48px
  padding: 4px 16px
  box-sizing: border-box

  align-items: center

  cursor: pointer
  user-select: none

  background-image: linear-gradient(135deg, #fffeff, #d8fffe)
  color: #242448

  &.selected
    background-image: linear-gradient(135deg, #fcdc92, #d2feff)
    color: #242448

    font-weight: 500

    &:hover
      cursor: cell

      background-image: linear-gradient(135deg, #e4fcf4, #ffe8fa)
      color: #242448

  &:hover
    background-image: linear-gradient(135deg, #4a586e, #2f383a)
    color: #f1ebe5

  .label
    flex: 1

  .color
    margin: 4px
    width: 16px
    height: 16px
