\:host
  display: flex
  flex-direction: column

  padding: 16px
  box-sizing: border-box
  overflow-y: auto

  .app-head
    z-index: 1

  .app-links
    padding: 8px 16px
    height: auto
    flex-wrap: wrap

    button
      margin: 8px 16px

  .app-body
    flex: 1
    box-sizing: border-box
    padding: 16px
    overflow-y: auto

    .title
      margin-top: 16px

  .row
    display: grid
    grid-template-columns: auto
    grid-gap: 24px
    align-items: center

  .row-2-elems
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 24px
    align-items: center
    justify-items: center

  .row-5-elems
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 24px
    align-items: center
    justify-items: center

  .spacer
    flex: 1
