//
// [parixa] mint-peach-theme
//
// Sanjeev Premi <spremi@ymail.com>
//
// Available under terms of the BSD-3-Clause license.
//

$sp-mint: (
    50 : #dff5f8,
    100 : #9fe1eb,
    200 : #71d2e2,
    300 : #35bfd6,
    400 : #28afc4,
    500 : #2398ab,
    600 : #1e8192,
    700 : #196b78,
    800 : #13545f,
    900 : #0e3e45,
    A100 : #cff7fe,
    A200 : #6be8fc,
    A400 : #1acae7,
    A700 : #22afc6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sp-peach: (
    50 : #ffeeed,
    100 : #ffd6d3,
    200 : #ffbab5,
    300 : #ff9e97,
    400 : #ff8a81,
    500 : #ff756b,
    600 : #ff6d63,
    700 : #ff6258,
    800 : #ff584e,
    900 : #ff453c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe6e5,
    A700 : #ffcdcb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sp-red: (
    50 : #fce1e7,
    100 : #f6b3c3,
    200 : #f1819c,
    300 : #eb4f74,
    400 : #e62956,
    500 : #e20338,
    600 : #df0332,
    700 : #da022b,
    800 : #d60224,
    900 : #cf0117,
    A100 : #fff6f7,
    A200 : #ffc3c7,
    A400 : #ff9097,
    A700 : #ff777f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
