//
// [parixa] mint-peach-theme
//
// Sanjeev Premi <spremi@ymail.com>
//
// Available under terms of the BSD-3-Clause license.
//

$sp-brown-wood: (
    50 : #eae7e6,
    100 : #c9c3c0,
    200 : #a69c96,
    300 : #82746b,
    400 : #67564c,
    500 : #4c382c,
    600 : #453227,
    700 : #3c2b21,
    800 : #33241b,
    900 : #241710,
    A100 : #ff9865,
    A200 : #ff7632,
    A400 : #fe5500,
    A700 : #e54c00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$sp-apple-green: (
    50 : #e7f5e8,
    100 : #c2e5c5,
    200 : #99d49f,
    300 : #70c278,
    400 : #52b55b,
    500 : #33a83e,
    600 : #2ea038,
    700 : #279730,
    800 : #208d28,
    900 : #147d1b,
    A100 : #b3ffb6,
    A200 : #80ff86,
    A400 : #4dff55,
    A700 : #33ff3d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sp-apple-red: (
    50 : #f5e7e8,
    100 : #e5c2c5,
    200 : #d4999f,
    300 : #c27078,
    400 : #b5525b,
    500 : #a8333e,
    600 : #a02e38,
    700 : #972730,
    800 : #8d2028,
    900 : #7d141b,
    A100 : #ffb3b6,
    A200 : #ff8086,
    A400 : #ff4d55,
    A700 : #ff333d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
