\:host
  width: 250px

  display: flex
  flex-direction: column
  box-sizing: border-box

  background-image: linear-gradient(270deg, #fff2ec, #ace2f8)
  background-size: 400% 400%

  animation: fadeBg 15s ease infinite

  @keyframes fadeBg
    0%
      background-position:0% 50%
    50%
      background-position:100% 50%
    100%
      background-position:0% 50%

  .pilot-bar
    display: flex
    flex-direction: row

    padding: 16px

    align-items: center

    background-color: #242448
    color: #fcfcfc

    .logo
      width: 48px
      height: 48px

    .title
      padding-left: 16px

      font-size: 32px
      font-weight: 500

  .pilot-contents
    display: flex
    flex-direction: column

    flex: 1

  .expand
    flex: 1
