\:host
  width: 250px

  display: flex
  flex-direction: column
  box-sizing: border-box

  background-color: #e0e0e0
  color: #000000

  .title
    display: flex
    height: 64px

    padding: 0 16px

    background-color: #c0c0c0

    box-sizing: border-box
    align-items: center

    font-size: 24px
    font-weight: 500

  sp-menu
    flex: 1
