\:host
  width: 250px

  display: flex
  flex-direction: column
  box-sizing: border-box

  .pilot-bar
    height: 64px
    display: flex

    flex-direction: row

    padding: 16px

    align-items: center

    background-color: #121212
    color: #fcfcfc

    .logo
      width: 48px
      height: 48px

    .title
      padding-left: 16px

      font-size: 32px
      font-weight: 500

  .pilot-contents
    display: flex
    flex-direction: column

    flex: 1

  .expand
    flex: 1
